*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body{
    background-image: url(./computer-2982270_1280.jpg);
    
    background-position: center center;
    background-attachment:fixed;
    height: 900px;
    
   
}

.baslık{
    color: bisque;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.navbar{
    background-color:darkslategray;
    text-align: center;
    position: static;
    padding: 5px;
    

    
}
.navbar ul{
    display: inline-flex
    
    
}
.navbar ul li{
    list-style: none;
    width: 150px;
    margin: 18px;
    padding: 12px;
}
.navbar ul li a{
    text-decoration: none;
    color:white
}
.navbar ul li:hover{
    background-color: black;
    border-radius: 10px;
   
   
}
.resim{
    width: 30%;
    height: 25%;
    margin:100px;
    position:static;
    text-align: start;
    animation:sallan 5s linear infinite ;
    }
    @keyframes sallan{
        0%,100%{
            transform: rotate(0deg);
        }
        25%,75%{
            transform: rotate(20deg);
        }
        50%{
            transform: rotate(40deg);
        }
    }
    .paragraf{
        text-align: center;
        color: chocolate;
        border: dashed 3px black;
        border-radius: 10px;
        background-color: bisque;
         width: 50%;
        height: 90%;
        margin: 100px;
        margin-top: 150px;
       
      
    }
    .anasayfa{
        display: flex;
    }
    footer{
        background-color: darkslategrey;
        margin-bottom: 0;
        
    }
    .footer-container{
        width: 100%;
        
        padding: 10px 20px 20px;
    }
    .icon{
        display: flex;
        justify-content: center;
    }
    .icon a{
        background-color: white;
        text-decoration: none;
        padding: 10px;
        margin: 10px;
        border-radius: 50%;
    }
    .icon a i{
        font-size: 32px;
        color: darkslategray;
        opacity: 0.9;
    }
    .icon a:hover{
        background-color: black;
    }
    .footer-nav{
        margin: 30px 0px;
    }
    .footer-nav ul{
        display: flex;
        justify-content: center;
        list-style-type: none;
    }
    .footer-nav ul li a{
        color: white;
        margin: 20px;
        text-decoration: none;
        font-size: 18px;
        
    }
    .footer2{
        color: black;
        padding: 20px;
        text-align: center;
    }

    @media screen and (max-width:950px){
        
       
        
    
        }




